// Color scheme details: https://colorhunt.co/palette/5132527a4069ca4e79ffc18e
$primary : #513252;
$secondary : #7A4069;
$accent : #FFC18E;

// Default colors provided by Quasar
$dark : #1D1D1D;
$dark-page : #121212;
$positive : #21BA45;
$negative : #C10015;
$info : #31CCEC;
$warning : #F2C037;